.jumbo-header {
    display: grid;
    grid-row: 1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 90%

}

.top-header {
    grid-column: 1/3;
    grid-row: 1;
    align-content: center;
    background-color: rgba(245, 245, 220, 0.18);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.menu-list {
   font-size: 1.5rem;
   list-style: none;
   display:flex;
   align-items: center;
   justify-content: space-around;
    
}

.bottom-header {
    grid-column: 1;
    grid-row: 2;
}
.name {
   
    text-align: left;
    line-height: 5rem;
    letter-spacing: -3px;
    margin: 20% auto auto 20%;
    font-size: 6rem;
    color: rgb(0, 0, 0);
  
   
}