@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Jersey+20&family=Rubik+Scribble&family=Work+Sans:wght@600&display=swap');



.work-sans- {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
    font-family: "Work Sans", sans-serif;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows:  80vh 140vh 80vh 10vh;
    background-image: url('./assets/header-top.png'), url('./assets/header-after.png'); /* Two background images */
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 500px, 100% 500px;
    background-position: center top, center 500px;
}


.quote-container {
    visibility: hidden;
}

.quote-container .quote {
    grid-row: 3;
    text-align: center;
    margin: 0 auto;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 1.2s ease-in-out 0.1s;
    margin-top: 20%;
  
}


.footer {

    grid-row: 4/5;
    border-top: solid black;
    
    
}

.contact-text {
   text-align: center;
    margin:auto;
    margin-top: 10px;
    font-size: 1.5rem;
}

